html,body{
    margin: 0;
    padding: 0;
    background-color: #f7fbfc;
}
/***************** main container *************************/
.container{
    width: 1170px;
    margin: 0 auto;
}
/***************** start of about us part ******************/
.about-us{
    margin-top: 3%;
}
/*about us left part*/
.about-us-left{
    float: left;
    width: 50%;
    height: auto;
}
.about-us-left img{
    margin: 30px 0;
    width: 100%;
}
/*******************/

/*about us right part*/
.about-us-right{
    width: 50%;
    float: right;
}
.about-us-right h1{
    text-align: center;
    color: #8da5a9;
    font-family: 'Chivo', sans-serif;   
}
.about-us-right p{
    opacity: 40%;
    font-family: 'Montserrat', sans-serif;
}
.about-us-right .btn{
    display: inline-block;
    text-decoration: none;
    background-color: #f2e16d;
    padding: 6px 15px;
    border-radius: 1em;
    color: white;
    
}
.about-us-right a:hover{transition: 0.5s;
    box-shadow: 2px 2px 5px lightgrey;
}
/************************/
/***************** end of about us part ******************/